In [1]:
import plotly.express as px
import plotly
import solara as sl

print(sl.__version__)
print(plotly.__version__)

1.10.0
5.14.1

In [ ]:
!pip install --upgrade plotly==5.14.0

Collecting plotly==5.14.0
  Downloading plotly-5.14.0-py2.py3-none-any.whl (15.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 15.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tenacity>=6.2.0 in ./.venv/lib/python3.9/site-packages (from plotly==5.14.0) (8.2.2)
Requirement already satisfied: packaging in ./.venv/lib/python3.9/site-packages (from plotly==5.14.0) (23.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.14.1
    Uninstalling plotly-5.14.1:
      Successfully uninstalled plotly-5.14.1

In [3]:
import pandas as pd
import solara as sl
import plotly.express as px

@sl.component
def Page():
    df = pd.read_csv("bulk_labeling/conv_intent.csv")
    df["text_length"] = df.text.str.len()
    df["id"] = list(range(len(df)))
    df["hovertext"] = df.text.str.wrap(30).str.replace("\n", "<br>")
    fig = px.scatter(
        df,
        x="x",
        y="y",
        custom_data=[df["id"]],
        hover_data=["hovertext"],
    )
    fig.update_layout(showlegend=False)
    fig.update_xaxes(visible=False)
    fig.update_yaxes(visible=False)
    fig.update_traces(marker_size=2)
    
    sl.FigurePlotly(fig)
    
Page()

Cannot show ipywidgets in text

In [18]:
import io
import solara
import pandas as pd


df = pd.read_csv("bulk_labeling/conv_intent.csv")
data = io.BytesIO()
df.to_csv(data)

BUTTON_KWARGS = dict(outlined=True)

@solara.component
def Page():
    solara.FileDownload(data, filename="solara-download.csv", label="Download file", on_download=None)
    
Page()

Component react.component(solara.components.file_download.FileDownload) raised exception TypeError("FileDownload() got an unexpected keyword argument 'on_download'")
Traceback (most recent call last):
  File "/Users/benepstein/Documents/GitHub/solara-examples/bulk-labeling/.venv/lib/python3.9/site-packages/reacton/core.py", line 1627, in _render
    root_element = el.component.f(*el.args, **el.kwargs)
TypeError: FileDownload() got an unexpected keyword argument 'on_download'

Cannot show ipywidgets in text

In [22]:
from solara.lab import Reactive
import pandas as pd

class State:
    df = Reactive[pd.DataFrame](pd.DataFrame({}))

In [23]:
State.df.set(pd.read_csv("bulk_labeling/conv_intent.csv"))

In [26]:
newdf = State.df.value.copy()
newdf = newdf[newdf["x"]>1]
newdf

,text,text_length,x,y
135,Play Water Under The Bridge by Hariprasad Chau...,52,4.167583,2.853800
354,play Vanlose Stairway by Janove Ottesen,39,2.637289,2.443605
373,"Play me Gil Parris's A Cup Of Coffee, A Sandwi...",56,4.262372,2.086915
578,I want to hear Box Of Rain by Skeets Mcdonald,45,7.311150,-3.261311
719,play I Could Write A Book,25,1.983942,4.373630
...,...,...,...,...
13769,Give After Having Spent a Night Among Horses 0...,56,1.062308,5.083417
13770,the current rating of 6 out of two for a textbook,49,1.949388,4.977383
13773,Rate 12: The Elements of Great Managing a 0,43,1.365064,5.642055
13775,give 5 points to The White Hotel,32,5.686408,2.484900
13782,give 1 out of 6 points to Revolution World,42,1.354092,6.397282

In [27]:
State.df.set(newdf)

In [28]:
State.df.value

,text,text_length,x,y
135,Play Water Under The Bridge by Hariprasad Chau...,52,4.167583,2.853800
354,play Vanlose Stairway by Janove Ottesen,39,2.637289,2.443605
373,"Play me Gil Parris's A Cup Of Coffee, A Sandwi...",56,4.262372,2.086915
578,I want to hear Box Of Rain by Skeets Mcdonald,45,7.311150,-3.261311
719,play I Could Write A Book,25,1.983942,4.373630
...,...,...,...,...
13769,Give After Having Spent a Night Among Horses 0...,56,1.062308,5.083417
13770,the current rating of 6 out of two for a textbook,49,1.949388,4.977383
13773,Rate 12: The Elements of Great Managing a 0,43,1.365064,5.642055
13775,give 5 points to The White Hotel,32,5.686408,2.484900
13782,give 1 out of 6 points to Revolution World,42,1.354092,6.397282